<h1>Welcome to the products page</h1>
<ul>
  {{#each products}}
    <li>
      <img src='/uploads/{{this.productName}}' alt='' class="responsive-img" />
      <h3>{{this.productDesc}}</h3>
      <p>{{this.productPrice}}</p>
    </li>
  {{/each}}
</ul>
{{!-- <img src='/uploads/{{productName}}' alt='' /> --}}
<h4>{{productDesc}}</h3>
<p>{{productPrice}}</p>